// Variabili 
$alpha:red;
$teta:blue;


body{
    background-color: rgb(72, 255, 0);
}
.container{
    p{
        color: $alpha;
    }
    
    button{
        background-color: $teta;
        color: white;
    }
    
}


p{
    color: $teta;
}